@charset "UTF-8";
/*  Boutons  */
/*Responsive*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a:visited,
a:active,
a:focus {
  outline: none;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

/*  Bouton page Accueil  */
.explore {
  width: 220px;
  height: 45px;
  font-family: "Roboto";
  font-size: 0.95em;
  color: #ffffff;
  margin-bottom: 60px;
  border: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px 2px #d1d1d1;
          box-shadow: 0px 3px 4px 2px #d1d1d1;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#9356dc), to(#ff79da));
  background: linear-gradient(0, #9356dc, #ff79da);
}

/*  Bouton pages menu  */
.command {
  width: 190px;
  height: 45px;
  font-family: "Roboto";
  font-size: 0.95em;
  color: #ffffff;
  margin-bottom: 30px;
  border: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px 2px #d1d1d1;
          box-shadow: 0px 3px 4px 2px #d1d1d1;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#9356dc), to(#ff79da));
  background: linear-gradient(0, #9356dc, #ff79da);
}

.command:hover,
.explore:hover {
  -webkit-box-shadow: 0px 3px 4px 2px #6b6b6b;
          box-shadow: 0px 3px 4px 2px #6b6b6b;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#a16be0), to(#ff93e1));
  background: linear-gradient(0, #a16be0, #ff93e1);
  -webkit-transition: 750ms;
  transition: 750ms;
}

.heart-button {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
}

.heart-button:hover, .heart-button:active {
  outline: none;
}

.heart-button:hover .far, .heart-button:active .far {
  background: linear-gradient(60deg, #ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.heart-button:hover .fas, .heart-button:active .fas {
  -webkit-animation: heartfilling 700ms ease-in-out forwards;
          animation: heartfilling 700ms ease-in-out forwards;
}

.heart-button .far {
  font-size: 30px;
  color: grey;
}

.heart-button .fas {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(60deg, #ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.spinner {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  -webkit-animation: hide-section 1.5s ease-in-out 0.5s forwards;
          animation: hide-section 1.5s ease-in-out 0.5s forwards;
}

.spinner__cercle {
  border: 8px solid transparent;
  border-top-color: #9356dc;
  margin: 0 auto;
  width: 192px;
  height: 192px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -112px;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: loader 1.5s linear 0s infinite,  loader-opacity 0.7s ease-in-out 3s forwards;
          animation: loader 1.5s linear 0s infinite,  loader-opacity 0.7s ease-in-out 3s forwards;
}

.spinner__cercle::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: #99e2d0;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-animation: loader 2.5s linear 0s infinite;
          animation: loader 2.5s linear 0s infinite;
}

.spinner__cercle::after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50%;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  -webkit-animation: antiloader 0.3s linear 0s infinite;
          animation: antiloader 0.3s linear 0s infinite;
}

.spinner__place {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: radial-gradient(circle at bottom, #d2a8eb 0%, #8408aa 100%);
  opacity: 1;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes antiloader {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes antiloader {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes hide-section {
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    opacity: 0;
  }
}

@keyframes hide-section {
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    opacity: 0;
  }
}

@-webkit-keyframes loader-opacity {
  100% {
    opacity: 0;
    z-index: -1001;
  }
}

@keyframes loader-opacity {
  100% {
    opacity: 0;
    z-index: -1001;
  }
}

header {
  width: 95%;
  margin: auto;
  font-family: "Shrikhand";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  margin: auto;
  text-align: center;
  font-size: 2.5em;
  padding: 20px 0 10px 0;
  font-weight: normal;
}

header a:visited {
  color: #000000;
}

header .fa-arrow-left {
  position: absolute;
  z-index: 0;
  text-align: left;
  color: #000000;
  top: 30px;
  left: 12%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  line-height: 1.6rem;
  padding: 18px;
}

footer a {
  color: #fff;
}

footer h2 {
  font-family: "Shrikhand";
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 2px;
  margin-left: 15px;
}

@media all and (min-width: 768px) {
  footer h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer ul {
  list-style: none;
  padding-left: 15px;
}

footer ul li {
  padding-bottom: 5px;
}

footer ul li span {
  padding-left: 5px;
}

footer ul li a {
  color: #ffffff;
}

footer ul .fa-utensils {
  font-size: 0.9rem;
}

footer ul .fa-hands-helping {
  font-size: 0.6rem;
}

footer ul .lighter-link {
  font-weight: normal;
}

@media all and (min-width: 768px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

form {
  font-family: "Roboto";
  text-align: center;
}

form .presentation {
  background-color: #f6f6f6;
  margin-top: -50px;
}

form .presentation h1 {
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 500;
  padding: 30px 54px 0 54px;
}

form .presentation p {
  font-size: 20px;
  font-weight: 100;
}

form .search {
  width: 100%;
  height: 3em;
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #e3e3e3;
  border: none;
  -webkit-box-shadow: inset 0 2.2px 0 #cecece;
          box-shadow: inset 0 2.2px 0 #cecece;
}

form .search::-webkit-input-placeholder {
  color: #000000;
}

form .search:-ms-input-placeholder {
  color: #000000;
}

form .search::-ms-input-placeholder {
  color: #000000;
}

form .search::placeholder {
  color: #000000;
}

form .fa-map-marker-alt {
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 0;
  right: 90px;
  top: 40px;
}

/*fonctionnement*/
.fonc {
  width: 100%;
  margin-top: 50px;
  /*  Suppression puces liste ordonnée  */
  /*  Rétablissement puce numérotées avec mise en forme  */
}

.fonc h2 {
  margin-left: 6%;
}

@media all and (min-width: 768px) {
  .fonc h2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}

@media all and (min-width: 1025px) {
  .fonc h2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}

.fonc ol {
  width: 85%;
  padding: 0;
}

.fonc .fas {
  padding-left: 5%;
}

.fonc .fa-mobile-alt {
  font-size: 1.5em;
  color: gray;
  margin-left: 3px;
  margin-right: 10px;
  padding-right: 30px;
}

.fonc .fa-list {
  color: gray;
  margin-right: 30px;
  padding-right: 10px;
}

.fonc .fa-store {
  color: gray;
  padding-right: 30px;
}

.fonc ol {
  margin: auto;
  list-style: none;
  counter-reset: li;
}

@media all and (min-width: 768px) {
  .fonc ol {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1025px) {
  .fonc ol {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.fonc li::before {
  content: counter(li);
  color: #ffffff;
  padding: 2px 0px 2px 6px;
  background-color: #9356dc;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16px;
  margin-left: -16px;
  position: absolute;
  left: 7px;
  z-index: 1;
}

.fonc li {
  counter-increment: li;
  padding: 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 6px #cecece;
          box-shadow: 0 1px 6px #cecece;
  position: relative;
}

@media all and (min-width: 768px) {
  .fonc li {
    width: 35%;
    font-size: 1em;
    padding: 20px 30px 20px 10px;
    margin: 30px 8px 30px 8px;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 6px #cecece;
            box-shadow: 0 1px 6px #cecece;
  }
}

@media all and (min-width: 1025px) {
  .fonc li {
    width: 38%;
    font-size: 1.05em;
    padding: 20px 0 20px 60px;
    margin: 30px 8px 30px 8px;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 6px #cecece;
            box-shadow: 0 1px 6px #cecece;
  }
}

.fonc li:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 0 3px 8px #c9abee;
          box-shadow: 0 3px 8px #c9abee;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.fonc li:hover .icon_fonc {
  color: #9356dc;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding: 40px 0px 40px 0px;
  margin-top: 60px;
}

.restaurants h2 {
  margin-left: 30px;
  padding-bottom: 20px;
}

@media all and (max-width: 330px) {
  .restaurants h2 {
    margin-left: 30px;
  }
}

@media all and (min-width: 768px) {
  .restaurants h2 {
    text-align: center;
  }
}

.restaurants__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin: auto;
}

@media all and (min-width: 768px) {
  .restaurants__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 860px;
  }
}

.restaurants__container__card {
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 3px 3px #e6e6e6;
          box-shadow: 1px 3px 3px #e6e6e6;
  border-radius: 17px;
  overflow: hidden;
  height: 270px;
}

@media all and (min-width: 768px) {
  .restaurants__container__card {
    -webkit-box-flex: 35%;
        -ms-flex: 35%;
            flex: 35%;
    margin: 30px;
    height: 250px;
    width: 400px;
    margin-right: 50px;
  }
}

.restaurants__container__card__img {
  width: 100%;
  position: absolute;
}

.restaurants__container__card__img__palette, .restaurants__container__card__img__francaise, .restaurants__container__card__img__delice {
  top: 1px;
}

@media all and (max-width: 330px) {
  .restaurants__container__card__img__palette, .restaurants__container__card__img__francaise, .restaurants__container__card__img__delice {
    width: 65%;
  }
}

.restaurants__container__card__img__note {
  top: -10px;
}

@media all and (max-width: 330px) {
  .restaurants__container__card__img__note {
    width: 65%;
  }
}

.restaurants__container__card__status {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 0.9em;
  padding: 6px 15px;
  border-radius: 2px;
}

.restaurants__container__card__content {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.restaurants__container__card__content h3 {
  color: #000000;
  margin: 0px;
  padding: 15px 0px 5px 10px;
}

.restaurants__container__card__content p {
  color: #000000;
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-weight: 300;
}

.restaurants__container__card__heart-btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
}

.imageTop {
  position: relative;
  margin-bottom: -50px;
  z-index: -1;
  width: 100%;
  max-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 768px) {
  .imageTop {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.listBase {
  position: relative;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -5px;
  z-index: 1;
  padding: 15px;
  padding-bottom: 60px;
}

.listBase__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  padding-left: 20px;
  padding-bottom: 0px;
}

@media all and (min-width: 768px) {
  .listBase__title {
    width: 500px;
    margin: auto;
  }
}

.listBase__title__heart {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 55px;
}

@media all and (min-width: 768px) {
  .listBase__title__heart {
    margin-right: 210px;
  }
}

@media all and (min-width: 1025px) {
  .listBase__title__heart {
    margin-right: 380px;
  }
}

@media all and (min-width: 1380px) {
  .listBase__title__heart {
    margin-right: 420px;
  }
}

.listBase__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  padding-left: 1px;
}

.listBase h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
  padding-bottom: 0;
  padding-top: 22px;
  padding-left: 10px;
  margin-top: 10px;
}

@media all and (max-width: 330px) {
  .listBase h2 {
    padding-left: 2px;
  }
}

@media all and (min-width: 768px) {
  .listBase h2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.listBase h2::after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: solid 3px #99e2d0;
  margin: 5px 0;
}

.cardDish {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
  padding: 10px 10px;
  height: 78px;
  margin: 20px 0;
  line-height: 1.6;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 1px 0 15px 2px #e8e8e8;
          box-shadow: 1px 0 15px 2px #e8e8e8;
}

@media all and (min-width: 768px) {
  .cardDish {
    max-width: 500px;
    margin: 20px auto;
  }
}

.cardDish__coll {
  width: 80%;
  margin-left: 5px;
}

.cardDish h3 {
  font-size: 1.1em;
  font-weight: 500;
  color: #000000;
  margin-top: 2px;
  margin-bottom: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cardDish p {
  font-size: 1em;
  font-weight: 300;
  color: #000000;
  margin-top: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cardDish .prix {
  margin-right: 23px;
  padding-top: 32px;
  width: 10%;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}

.cardDish .listCheck {
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cardDish .fa-check-circle {
  position: absolute;
  right: 20px;
  top: 27px;
  opacity: 0;
  color: #ffffff;
  font-size: 1.5em;
}

.cardDish:hover .fa-check-circle {
  opacity: 1;
  -webkit-animation: rotation 0.5s linear;
          animation: rotation 0.5s linear;
}

.cardDish:hover .listCheck {
  width: 16%;
}

@media all and (min-width: 768px) {
  .cardDish:hover .listCheck {
    width: 14%;
  }
}

@media all and (min-width: 1025px) {
  .cardDish:hover .listCheck {
    width: 14%;
  }
}

@media all and (min-width: 1380px) {
  .cardDish:hover .listCheck {
    width: 14%;
  }
}

.cardDish:hover h3 {
  width: 70%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.cardDish:hover p {
  width: 70%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.cardDish:hover .prix {
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/*  Rotation icone check*/
@-webkit-keyframes rotation {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Animation Menu*/
.cardDish {
  -webkit-animation: move-plate 2s forwards;
          animation: move-plate 2s forwards;
}

.cardDish-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.cardDish-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.cardDish-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.cardDish-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.cardDish-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.cardDish-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.cardDish-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.cardDish-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.cardDish-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.cardDish-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes move-plate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-plate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn-command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}
/*# sourceMappingURL=style.css.map */