@charset "UTF-8";
/*  Boutons  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a:visited, a:active, a:focus {
  outline: none;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

button:hover {
  cursor: pointer;
}

/*  Bouton page Accueil  */
.explore {
  width: 220px;
  height: 45px;
  font-family: "Roboto";
  font-size: 0.95em;
  color: #ffffff;
  margin-bottom: 60px;
  border: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px 2px #d3d3d3;
          box-shadow: 0px 3px 4px 2px #d3d3d3;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#9356dc), to(#ff79da));
  background: linear-gradient(0, #9356dc, #ff79da);
}

/*  Bouton pages menu  */
.command {
  width: 190px;
  height: 45px;
  font-family: "Roboto";
  font-size: 0.95em;
  color: #ffffff;
  margin-bottom: 30px;
  border: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px 2px #d3d3d3;
          box-shadow: 0px 3px 4px 2px #d3d3d3;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#9356dc), to(#ff79da));
  background: linear-gradient(0, #9356dc, #ff79da);
}

.command:hover,
.explore:hover {
  -webkit-box-shadow: 0px 3px 4px 2px #6d6d6d;
          box-shadow: 0px 3px 4px 2px #6d6d6d;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#a16be0), to(#ff93e1));
  background: linear-gradient(0, #a16be0, #ff93e1);
  -webkit-transition: 750ms;
  transition: 750ms;
}

header {
  width: 95%;
  margin: auto;
  font-family: "Shrikhand";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  margin: auto;
  text-align: center;
  font-size: 2.5em;
  padding: 20px 0 10px 0;
  font-weight: normal;
}

header a:visited {
  color: #000000;
}

header .fa-arrow-left {
  position: absolute;
  z-index: 0;
  text-align: left;
  color: black;
  top: 30px;
  left: 12%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: #fff;
  line-height: 1.6rem;
  padding: 18px;
}

footer a {
  color: #fff;
}

footer h2 {
  font-family: 'Shrikhand';
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 2px;
  margin-left: 15px;
}

footer ul {
  list-style: none;
  padding-left: 15px;
}

footer ul li {
  padding-bottom: 5px;
}

footer ul li span {
  padding-left: 5px;
}

footer ul li a {
  color: #ffffff;
}

footer ul .fa-utensils {
  font-size: 0.9rem;
}

footer ul .fa-hands-helping {
  font-size: 0.6rem;
}

footer ul .lighter-link {
  font-weight: normal;
}

form {
  font-family: "Roboto";
  text-align: center;
}

form .presentation {
  background-color: #f6f6f6;
  margin-top: -50px;
}

form .presentation h1 {
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 500;
  padding: 7% 14% 0 14%;
}

form .presentation p {
  font-size: 20px;
  font-weight: 100;
}

form .search {
  width: 100%;
  height: 3em;
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #e5e5e5;
  border: none;
  -webkit-box-shadow: inset 0 2.5px 0 #d9d9d9;
          box-shadow: inset 0 2.5px 0 #d9d9d9;
}

form .search::-webkit-input-placeholder {
  color: #000000;
}

form .search:-ms-input-placeholder {
  color: #000000;
}

form .search::-ms-input-placeholder {
  color: #000000;
}

form .search::placeholder {
  color: #000000;
}

form .fa-map-marker-alt {
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 0;
  right: 22%;
  top: 40px;
}

/*fonctionnement*/
#fonc {
  width: 100%;
  margin-top: 50px;
  /*  Suppression puces liste ordonnée  */
  /*  Rétablissement puce numérotées avec mise en forme  */
}

#fonc h2 {
  margin-left: 6%;
}

#fonc ol {
  width: 85%;
  padding: 0;
}

#fonc .fas {
  padding-left: 5%;
}

#fonc .fa-mobile-alt {
  -webkit-transform: scale(1.55, 1.3);
          transform: scale(1.55, 1.3);
  margin-left: 3px;
  margin-right: 10px;
  padding-right: 30px;
}

#fonc .fa-list {
  margin-right: 30px;
  padding-right: 10px;
}

#fonc .fa-store {
  padding-right: 30px;
}

#fonc ol {
  margin: auto;
  list-style: none;
  counter-reset: li;
}

#fonc li::before {
  content: counter(li);
  color: #ffffff;
  padding: 2px 0px 2px 6px;
  background-color: #9356dc;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  left: 7px;
  z-index: 1;
}

#fonc li {
  counter-increment: li;
  padding: 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

#fonc li:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 0 3px 8px #c9abee;
          box-shadow: 0 3px 8px #c9abee;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#fonc li:hover .icon_fonc {
  color: #9356dc;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding: 40px 0px 40px 0px;
  margin-top: 60px;
}

.restaurants h2 {
  width: 370px;
  margin: 0px auto;
  padding-bottom: 20px;
}

.restaurants__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  margin: auto;
}

.restaurants__container__card {
  display: block;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 3px 3px #e6e6e6;
          box-shadow: 1px 3px 3px #e6e6e6;
  border-radius: 17px;
  overflow: hidden;
  height: 270px;
}

.restaurants__container__card__img {
  width: 100%;
  position: absolute;
}

.restaurants__container__card__img__palette, .restaurants__container__card__img__francaise, .restaurants__container__card__img__delice {
  top: 1px;
}

.restaurants__container__card__img__note {
  top: -10px;
}

.restaurants__container__card__status {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 0.9em;
  padding: 0.4em 0.9em;
  border-radius: 4px;
}

.restaurants__container__card__content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.restaurants__container__card__content h3 {
  color: black;
  margin: 0px;
  padding: 15px 0px 5px 10px;
}

.restaurants__container__card__content p {
  color: black;
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-weight: 300;
}

.restaurants__container__card__heart-btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.imageTop {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
  width: 100%;
  max-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.listBase {
  position: relative;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -10px;
  z-index: 2;
  padding: 15px;
  padding-bottom: 60px;
}

.listBase__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  padding-left: 20px;
  padding-bottom: 0px;
}

.listBase .heart {
  font-size: 1.1em;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.listBase h1 {
  font-family: shrikhand, sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  padding-left: 10px;
}

.listBase h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 30px;
}

.listBase h2::after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: solid 3px #99e2d0;
  margin: 5px 0;
}

.cardDish {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px;
  height: 78px;
  margin: 20px 0;
  line-height: 1.6;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 3px #ececec;
          box-shadow: 0 0 10px 3px #ececec;
}

.cardDish__coll {
  width: 90%;
  margin: 0;
}

.cardDish h3 {
  font-size: 1.1em;
  overflow: hidden;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.cardDish p {
  width: 100%;
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: .5s;
  transition: .5s;
}

.cardDish .prix {
  position: relative;
  top: 20px;
  width: 10%;
  font-size: 1em;
  text-align: center;
  line-height: 1.2;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}
/*# sourceMappingURL=style.css.map */