.imageTop {
    position: relative;
    margin-bottom: -50px;
    z-index: -1;
    width: 100%;
    max-height: 800px;
    object-fit: cover;

    @include tablet {
        object-fit: cover;
    }
}

.listBase {
    position: relative;
    background: $color-background;
    border-radius: 50px 50px 0 0;
    margin-top: -5px;
    z-index: 1;
    padding: 15px;
    padding-bottom: 60px;

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        padding-left: 20px;
        padding-bottom: 0px;
        @include tablet {
            width: 500px;
            margin: auto;
        }

        

       & h2 {
            font-family: $police-logo_titre, sans-serif;
            font-size: 1.7em;
            font-weight: normal;
            padding-left: 1px;
            @include mobile-sm{
                margin-left: -12px;
                font-size: 1.5em;
            }
        }
        &__heart {
            
            position:absolute;
            cursor: pointer;
            right: 30px;
            top: 55px;
            @include tablet {
                padding-right: 120px;
            }
            @include tablet-vt{
                margin-right: 110px;
            }
            
            @include desktop {
                margin-right: 220px;
            }
            @include desktop-xl {
                margin-right: 420px;
            }
        }   
    }
    
    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.1em;
        padding-bottom: 0;
        padding-top: 22px;
        padding-left: 10px;
        margin-top: 10px;
        @include mobile-sm {
            padding-left: 2px;
        }
        @include tablet {
            justify-content: space-between;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    h3::after {
        content: "";
        display: block;
        width: 45px;
        border-bottom: solid 3px $color-tertiary;
        margin: 5px 0;
    }
    
}
.cardDish {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    padding: 10px 10px;
    height: 78px;
    margin: 20px 0;
    line-height: 1.6;
    background-color: $background-white;
    border-radius: 20px;
    box-shadow: 1px 0 15px 2px lighten($footer, 70);
    @include tablet {
        max-width: 500px;
        margin: 20px auto;
    }
      
    &__coll {
        width: 80%;
        margin-left: 5px;
    }

    h4 {
        font-size: 1.1em;
        font-weight: 500;
        color: $primary-font-color;
        margin-top: 2px;
        margin-bottom: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        transition: 0.5s;
    }

    p {
        font-size: 1em;
        font-weight: 300;
        color: $primary-font-color;
        margin-top: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        transition: 0.5s;
    }

    .prix {
        margin-right: 23px;
        padding-top: 32px;
        width: 10%;
        font-size: 1em;
        font-weight: 500;
        color: $primary-font-color;
        text-align: center;
        line-height: 1.5;
    }

    .listCheck {
        transition: width 0.5s linear;
        height: 100%;
        width: 0;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .fa-check-circle {
        position: absolute;
        right: 20px;
        top: 27px;
        opacity: 0;
        color: $secondary-font-color;
        font-size: 1.5em;
    }
    &:hover {
        .fa-check-circle {
            opacity: 1;
            animation: rotation 0.5s linear;
        }
        .listCheck {
            width: 16%;

            @include tablet {
                width: 14%;
            }
            @include desktop {
                width: 14%;
            }
            @include desktop-xl {
                width: 14%;
            }
        }
        h4 {
            width: 70%;
            transition-duration: 1s;
        }
        p {
            width: 70%;
            transition-duration: 1s;
        }
        .prix {
            transform: translateX(-45px);
            transition-duration: 1s;
        }
    }
}

/*  Rotation icone check*/
@keyframes rotation {
    from {
        opacity: 0;
    }

    to {
        transform: rotate(360deg);
    }
}

/* Animation Menu*/
.cardDish {
    animation: move-plate 2s forwards;
    @for $i from 1 through 10 {
        &-#{$i} {
            animation-delay: 0.1s * $i;
        }
    }
}

@keyframes move-plate {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-command {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
