$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: #f6f6f6;
$background-white: #ffffff;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;
$shadow: #d1d1d1;
$footer: #353535;
$icons: gray;

$police-logo_titre: "Shrikhand";
$police-text: "Roboto";